
body {
    background-color: #00A4C4;
}

div.full_height {
    height: 95%;
    width: 100%;
    text-align: center;
    padding: 5% 0;
}

div.push_down {
    padding-top: 20%;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 8em;
    color: #F5F5F5;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 2.5em;
    color: #F5F5F5;
}
